<div class="bg-light p-3 rounded-3" id="chart">
  <div class="row d-flex justify-content-between">
    <div class="mb-2 col-12 col-md-6">
      <div class="ms-5">إحصائيات إستخدام القسيمة</div>
      <div class="me-2" style="color: rgba(153, 161, 183, 1)">
        05 يوليو , 2023 - 05 أغسطس , 2023
      </div>
    </div>

    <div class="w-50 d-flex justify-content-end col-12 col-md-6">
      <select class="form-select w-25 h-75" aria-label="Default select example">
        <option selected value="1">سنويا</option>
        <option value="2">شهريا</option>
        <option value="3">يوميا</option>
      </select>
    </div>
  </div>
  <apx-chart
    [series]="[
      {
        name: 'إستخدام',
        data: [31, 40, 28, 51, 42, 100, 50, 20, 30, 40, 60, 70],
        color: '#8a74f9'
      }
    ]"
    [chart]="{
      height: 350,
      type: 'area',
      toolbar: {
        show: false
      },
      fontFamily: 'Neo Sans Arabic, Arial, sans-serif',
      zoom: {
        enabled: false
      }
    }"
    [xaxis]="{
      categories: months
    }"
    [stroke]="{
        width:2 ,
        curve: 'smooth',
        
      }"
    [tooltip]="{
        x: {
          format: '',
        },
     theme: 'dark', 
    style: {
      fontSize: '14px',
      fontFamily: 'Arial, sans-serif',
    },
    
      }"
    [dataLabels]="{
        enabled: false,
        
      }"
    [yaxis]="{
      show: false
    }"
  ></apx-chart>
</div>

<!--  -->
<!--  -->
<!--  -->
<!--  -->
