#chart-container {
  position: relative;
  height: 33vh;
  overflow: hidden;
}

#color1 {
  background-color: #ffffff;
}

button {
  background-color: rgba(250, 250, 250, 1);
  color: black;
}

button:hover {
  background-color: #d1d1d1;
  color: black;
}
