.hover:hover {
  background-color: #8a74f9 !important;
  color: aliceblue;
}
.hover:hover .hover-icon {
  color: aliceblue !important;
}

.onhover:hover {
  background-color: aliceblue !important;
  color: #8a74f9 !important;
  border: 1px solid #8a74f9 !important;
}
.hovering:hover {
  background-color: #8a74f9 !important;
  color: aliceblue !important;
}
.hovering:hover .onhovering {
  color: aliceblue !important;
}
