<div class="container my-5">
  <div class="row">
    <div class="col-12 d-flex justify-content-between mb-2">
      <div class="d-flex align-items-center">
        <button class="mx-2 btn bg-secondary bg-opacity-10">
          <fa-icon class="text-muted" [icon]="faArrowRight"></fa-icon>
        </button>
        <h5 style="font-size: 16px; line-height: 28px" class="my-0">
          تذكرة رقم #2342
        </h5>
      </div>
      <div>
        <button
          class="btn bg-light border border-1 border-secondary border-opacity-10 hover"
        >
          <fa-icon
            class="ms-2 hover-icon"
            style="color: #8a74f9"
            [icon]="faPenToSquare"
          ></fa-icon>
          <span style="font-size: 14px; line-height: 28px">تعديل</span>
        </button>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8">
      <app-appex-chart></app-appex-chart>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <app-ticket></app-ticket>
    </div>

    <div class="col-12 col-md-12 col-lg-6 row my-3">
      <div class="col-12 col-md-12 d-flex flex-wrap">
        <div class="d-flex">
          <p
            style="font-size: 16px; line-height: 20px; font-weight: 400"
            class="my-2 ms-2"
          >
            مبيعات التذاكر
          </p>
          <div>
            <span class="p-input-icon-right position-relative me-2">
              <fa-icon
                style="right: 1rem; top: 0.8rem"
                class="pi pi-search position-absolute"
                [icon]="faMagnifyingGlass"
              ></fa-icon>
              <input
                placeholder="بحث عن..."
                type="text"
                pInputText
                [(ngModel)]="value"
              />
            </span>
          </div>
        </div>
        <div class="d-flex">
          <button class="btn mx-1 bg-light border border-1 hovering">
            <fa-icon class="text-muted onhovering" [icon]="faSliders"></fa-icon>
          </button>
          <button
            class="btn bg-light border border-1 d-flex justify-content-center align-items-center hovering"
          >
            <fa-icon
              class="text-muted onhovering"
              [icon]="faArrowDownLong"
            ></fa-icon>
            <fa-icon
              class="text-muted onhovering"
              [icon]="faArrowUpLong"
            ></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <div
      class="col-12 col-md-12 col-lg-6 d-flex align-items-center justify-content-start justify-content-lg-end"
    >
      <div class="d-flex align-items-center mt-3">
        <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
        <span class="mx-3">مفعلة</span>
      </div>

      <button
        style="background-color: #8a74f9"
        class="rounded-3 mx-2 mt-3 btn text-light onhover"
        label=""
      >
        حجز تذكرة جديدة
      </button>
    </div>

    <div class="col-12 my-3">
      <app-table></app-table>
    </div>
  </div>
</div>
